.checkout-progress {
  clear: both;
  width: 800px;
  margin: 70px auto;
  
  .progress-bar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    li {
      position: relative;
      float: left;
      background: #eee;
      border-left: 1px solid #fff;
      margin-right: 10px;
      
        .triangle, .triangle2 {
          display: block;
          position: absolute;
          top: 0;
          right: -10px;
          height: 0;
          width: 0;
          border-top: 15px solid transparent;
	        border-left: 10px solid #eee;
	        border-bottom: 15px solid transparent;
          z-index: 1;
        }  
      
        .triangle2 {
          border-left-color: white;
          left: 0;
        }
      
      &:first-child {
        border: 0;
      }
      
      &.current-step {
        background: green;
        
        .triangle {
          border-left: 10px solid green;
        }
        
        a {
          color: white;
          
          .step-number {
            border-color: white;
          }
        }
      }
      
      &.visited-step {
        background: #bbb;
        
        .triangle {
          border-left: 10px solid #bbb;
        }        
      }
      
      a {
        letter-spacing: 1px;
        display: block;
        line-height: 30px;
        padding: 0 20px 0 30px;  
        color: green;
        text-decoration: none;
        cursor: default;
        
        em {
          display: inline-block;
          border-radius: 50%;
          background: none;
          width: 18px;
          height: 18px;
          line-height: 18px;
          text-align: center;
          margin-right: 14px;
          border: 1px solid #999;
          font-size: 13px;
          font-style: normal;
        }
      }
    }
  }
}